$error: #ba2732;
$basic-red: #ee3643;

$basic-green: #63a63e;
$success: #5fbb2d;
$special-greenlight: #8ed78f;

$basic-grey: #32425c;
$basic-greylight: #c5c5c5;

$basic-background: #f2f6f8;

$warning: #ffbf47;
$special-yellow: #ffbf47;
$special-yellowlight: #ffd180;

$special-blue: #3bbce3;

$special-lilac: #dc91d8;
