@import "./_root.scss";
@import "./_style-kit.scss";
@import "./_header.scss";
@import "./_footer.scss";
@import "./_product-card.scss";

.catalog-header {
  display: grid;
}

.title-catalog {
  margin: 0;
  margin-top: 20px;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;

  padding: 30px;
  margin-bottom: 20px;

  background-color: $basic-background;
}

.breadcrumb-list {
  margin: 0;
  margin-top: 22px;
  padding: 0;

  grid-row: 1;
  display: flex;

  &__item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      margin-left: 18px;
    }

    &:not(:first-child)::before {
      content: "";
      display: block;

      width: 8px;
      height: 12px;

      margin-right: 18px;

      background: url("/img/svg/icon-right-small.svg") no-repeat;
    }
  }

  &__link-1 {
    width: 14px;
    height: 12px;
    background: url("/img/svg/icon-home.svg") no-repeat;
  }

  &__link {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
  }
}

.catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;

  &__list {
    margin: 0;
    margin-bottom: 54px;
    padding: 0;
    grid-column: 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  // &__item {
  // }
}

.form-filter {
  &__title-1 {
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    width: 220px;
    height: 38px;

    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 18px;
    margin: 0;
    margin-bottom: 14px;

    background-color: #f7f3ec;
  }

  &__item {
    border: none;
    margin: 0;
    padding: 0;
    padding-bottom: 25px;

    &:not(:last-of-type) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;
    }
  }

  &__title-2 {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }

  &__button {
    width: 220px;
    height: 38px;

    padding: 0;
    margin-top: 8px;
    background: #ffffff;
    border: 1px solid #e5e5e5;

    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    &:hover,
    &:focus {
      border-color: $basic-greylight;
    }

    &:active {
      border-color: $basic-red;
    }
  }
}

.filter-price {
  &__range {
    width: 220px;
    height: 80px;

    margin-bottom: 10px;

    background-color: #f7f3ec;
    border-radius: 3px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.title-price {
  margin-bottom: 10px;
}

.scale {
  position: relative;
  width: 180px;
  height: 2px;

  background: #d7dcde;
}

.bar {
  width: 150px;
  height: 2px;

  background: #00ca74;
}

.toggle {
  cursor: pointer;
  position: absolute;
  top: -10px;

  width: 20px;
  height: 20px;

  background-color: #ababab;

  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(171, 171, 171, 0.3);
}

.toggle-min {
}

.toggle-max {
  left: 150px;
}

.dash {
  margin: 0;
  width: 10px;
  height: 1px;
  background-color: #444444;
  display: inline-block;
}

.min-price {
  padding: 0;
  display: inline-block;
  width: 95px;
  height: 38px;

  display: flex;
  text-align: center;
  align-items: center;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
}

.max-price {
  padding: 0;
  display: inline-block;
  width: 95px;
  height: 38px;

  display: flex;
  text-align: center;
  align-items: center;

  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;

  background-color: #f7f3ec;
  border: none;
  border-radius: 2px;
}

.fabricator-filter {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

.title-fabricator {
  margin-bottom: 15px;
}

.fabricator-name {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;

  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 4px;
  z-index: 1;
}

.fabricator-checkbox {
}

.fabricator-checkbox-off {
  position: absolute;
  left: 0;
  fill: #C5C5C5;

  &:hover,
  &:focus {
    fill: #B5B5B5;
  }
}

.fabricator-checkbox-on {
  position: absolute;
  left: 0;
  display: none;
  fill: #C5C5C5;

  &:hover,
  &:focus {
    fill: #B5B5B5;
  }
}

.fabricator-checkbox:checked ~ .fabricator-checkbox-off {
  display: none;
}

.fabricator-checkbox:checked ~ .fabricator-checkbox-on,
.fabricator-checkbox:checked ~ .fabricator-checkbox-on:hover,
.fabricator-checkbox:checked ~ .fabricator-checkbox-on:focus {
  display: block;
  fill: #C5C5C5;
}

.fabricator-checkbox:checked ~ .fabricator-name,
.fabricator-checkbox:checked ~ .fabricator-checkbox-on {
  opacity: 0.4;
}


.power-filter {
  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;

    &:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }
}

.title-power {
  margin-bottom: 20px;
}

.power-label {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;

  display: flex;
  align-items: center;
  padding-left: 35px;
  margin-bottom: 8px;
  z-index: 1;
}

.power-checkbox {
}

.power-checkbox-off {
  position: absolute;
  left: 0;
  fill: #C5C5C5;

  &:hover,
  &:focus {
    fill: #B5B5B5;
  }
}

.power-checkbox-on {
  position: absolute;
  left: 0;
  display: none;
  fill: #C5C5C5;

  &:hover,
  &:focus {
    fill: #B5B5B5;
  }
}

.power-checkbox:checked ~ .power-checkbox-on,
.power-checkbox:checked ~ .power-checkbox-on:hover,
.power-checkbox:checked ~ .power-checkbox-on:focus {
  display: block;
  fill: #C5C5C5;
}

.power-checkbox:checked ~ .power-label,
.power-checkbox:checked ~ .power-checkbox-on,
.power-checkbox:checked ~ .power-checkbox-off {
  opacity: 0.4;
}

.sorting {
  display: flex;
  align-items: center;

  height: 38px;

  margin-bottom: 26px;

  background-color: #f7f3ec;

  &__title {
    margin: 0;
    margin-left: 20px;
    margin-right: 140px;

    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.sorting-list {
  margin-left: 140px;
  display: flex;
  margin: 0;
  padding: 0;

  &__item {
    border-bottom: 1px dotted $basic-red;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 70px;
    }

    &:hover,
    &:focus {
      border-bottom: 1px solid $basic-red;
    }

    &:active {
      border: none;
    }
  }

  &__link {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    opacity: 0.3;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:active {
      color: $basic-red;
    }
  }
}

.sorting-direction {
  margin-left: 46px;
  display: flex;
  align-items: center;

  &__link {
    cursor: pointer;
    display: flex;
    width: 11px;
    height: 10px;

    fill: #c5c5c5;

    &:nth-child(2) {
      margin-left: 18px;
    }

    &:hover,
    &:focus {
      fill: #000000;
    }

    &:active {
      fill: $basic-red;
    }
  }

  &__link--up {
    transform: rotate(180deg);
  }

  // &__link--down {
  // }
}

.pagination {
  display: flex;

  padding: 0;
  margin: 0;
  margin-bottom: 70px;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    padding: 10px 15px;

    border: 1px solid #e5e5e5;
    border-radius: 2px;

    color: #000000;

    &--next {
      padding: 10px 30px;
    }

    &:hover,
    &:focus {
      border-color: $basic-greylight;
    }

    &:active {
      border-color: $basic-red;
    }
  }
}

.article {
  background-color: $basic-background;
  padding-top: 40px;
  padding-bottom: 56px;

  // &__item {
  // }

  &__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
  }

  &__text {
    margin-top: 25px;
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    color: #000000;
  }
}
